<section data-controller="search">
  <h1 class="text-3xl font-bold underline mb-4 text-gray-800 text-center font-sans">What do you want to learn today?</h1>
  <%= search_form_for @q, url: @ransack_path , html: { class: "flex items-start flex-wrap gap-x-4 gap-y-4 mt-4 mb-4" } do |f| %>
    <%= f.search_field :title_cont, placeholder: "Search by title" ,
                                    class: "block px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-60" %>
    <%= button_tag(type: 'submit', class: "px-4 py-2 text-white bg-lime-600 hover:bg-lime-700 rounded-md shadow hover:cursor-pointer flex items-center justify-center gap-2") do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      Search
    <% end %>
  <% end %>
  <div class="my-4">
  </div>
  <hr class="my-2 text-">
  <%= line_chart User.group_by_day(:created_at).count %>
  <section class="my-4">
    <!-- <%= icon('fa-brands', 'font-awesome')%>
  <%= icon('fa-solid', 'user-secret')%>
  <%= icon('fa-regular', 'bell')%> -->
    <h2 class="text-left text-xl md:text-2xl font-semibold mb-6"> <%= icon('fa-regular', 'user')%> Continue Learning</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @purchased_courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
    <hr class="my-8">
    <h2 class="text-left text-xl md:text-2xl font-semibold mb-6"> <%= icon('fa-regular', 'user')%> Popular Courses</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @popular_courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
    <hr class="my-8">
    <h2 class="text-left text-xl md:text-2xl font-semibold mb-6"> <%= icon('fa-regular', 'star')%> Top rated Courses</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @top_rated_courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
    <hr class="my-8">
    <h2 class="text-left text-xl md:text-2xl font-semibold mb-6"> <%= icon('fa-regular', 'bell')%> Latest Courses</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @latest_courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
    <hr class="my-8 ">
  </section>
</section>
