<section data-controller="search">
  <h1 class="my-8 font-sans text-3xl font-bold text-center text-gray-800 underline md:text-5xl">What do you want to learn today?</h1>
  <%= search_form_for @q, url: @ransack_path , html: { class: "flex items-start flex-wrap gap-x-4 gap-y-4 mt-4 mb-4" } do |f| %>
    <%= f.search_field :title_cont, placeholder: "Search by title" ,
                                    class: "block px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-60" %>
    <%= button_tag(type: 'submit', class: "px-4 py-2 text-white bg-blue-900 hover:bg-blue-800 rounded-md shadow hover:cursor-pointer flex items-center justify-center gap-2") do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      Search
    <% end %>
  <% end %>
  <div class="my-4">
  </div>
  <hr class="my-2 text-">
  <%# <p class="my-2">Users created in the last two months</p>
  <%= line_chart User.group_by_day(:created_at).count %>
  <%# <%= pie_chart @enrollments.joins(:course).group(:'courses.title').count %>
  <%# <hr class="my-2 text-"> %>
  <section class="my-4">
    <!-- <%= icon('fa-brands', 'font-awesome')%>
  <%= icon('fa-solid', 'user-secret')%>
  <%= icon('fa-regular', 'bell')%> -->
    <% if current_user && current_user.enrollments.any? %>
      <section class="">
        <div class="flex items-center ">
          <h2 class="mr-2 text-xl font-semibold text-left md:text-2xl "> <%= icon('fa-regular', 'user mr-2')%> Continue Learning</h2>
          <button class="p-2 my-4 text-blue-600 underline rounded-md hover:text-blue-700 float-end ">
            <%= link_to 'See all my courses', purchased_courses_path, class: '' %>
            <i class="ml-1 fa-solid fa-arrow-right"></i>
          </button>
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
          <% @purchased_courses.each do |course| %>
            <%= render 'courses/course', course: course %>
          <% end %>
        </div>
        <hr class="my-8">
      </section>
    <% end %>
    <div class="flex items-center ">
      <h2 class="mr-2 text-xl font-semibold text-left md:text-2xl"> <%= icon('fa-regular', 'user mr-2')%> Popular Courses</h2>
      <button class="p-2 my-4 text-blue-600 underline rounded-md hover:text-blue-700 float-end">
        <%= link_to 'See all popular courses', courses_path(q: { s: 'average_rating asc' }), class: "" %>
        <i class="ml-1 fa-solid fa-arrow-right"></i>
      </button>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <% @popular_courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
    <hr class="my-8">
    <div class="flex items-center ">
      <h2 class="mr-2 text-xl font-semibold text-left md:text-2xl"> <%= icon('fa-regular', 'star mr-2')%> Top rated Courses</h2>
      <button class="p-2 my-4 text-blue-600 underline rounded-md hover:text-blue-700 float-end">
        <%= link_to 'See top rated courses', courses_path(q: {s: 'average_rating desc'}), class: '' %>
        <i class="ml-1 fa-solid fa-arrow-right"></i>
      </button>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <% @top_rated_courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
    <hr class="my-8">
    <h2 class="mb-6 text-xl font-semibold text-left md:text-2xl"> <%= icon('fa-regular', 'bell mr-2')%> Latest Courses</h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <% @latest_courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
    <hr class="my-8 ">
  </section>
</section>
