<main class="flex items-center justify-center px-4 bg-gray-200">
  <section class="w-full max-w-xl min-w-[400px] p-8 my-6 bg-gray-300 rounded shadow-md">
    <header class="text-2xl font-bold text-center">Edit <%= resource_name.to_s.humanize %></header>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <fieldset>
        <legend class="block mb-2 text-sm font-bold text-gray-700">User Information</legend>
        <label for="name" class="block my-4 text-sm font-bold text-gray-700">Name:</label>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "name" %>
        <label for="email" class="block my-4 text-sm font-bold text-gray-700 ">Email:</label>
        <% if resource.provider? %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "email", disabled: true %>
        <% else %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "email" %>

        <% end %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p class="text-sm text-gray-600">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <% if !resource.provider? %>
          <label for="password" class="block my-2 text-sm font-bold text-gray-700">New Password: <i>(leave blank if you don't want to change it)</i></label>
          <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "password" %>
          <label for="password_confirmation" class="block my-2 text-sm font-bold text-gray-700">Password Confirmation:</label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "password_confirmation" %>
          <label for="current_password" class="block my-2 text-sm font-bold text-gray-700">Current Password: <i>(we need your current password to confirm your changes)</i></label>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "current_password" %>
        <% end %>

      </fieldset>

      <footer class="flex items-center justify-between">
        <%= f.submit "Update", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer" %>
      </footer>
    <% end %>
    <aside class="mt-4 text-center">
      <h3 class="text-lg font-semibold">Cancel my account</h3>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full mt-4" %>
    </aside>
    <%= link_to "Back", :back, class: "text-blue-900 hover:text-blue-700 block text-center mt-4 underline" %>
  </section>
</main>
