<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= favicon_link_tag wicked_pdf_asset_base64('ruby-icon.svg') %>
  </head>
  <body onload='number_pages'>
    <div class="certificate-container">
      <div class="background-image"></div>
 <!-- Background image layer -->
      <main id="content">
        <section class="certificate-header">
          <h1>Certificate of Achievement</h1>
        </section>
        <section class="badge-section">
          <%= image_tag wicked_pdf_asset_base64('Badge.jpeg') %>
        </section>
        <section class="certificate-desc">
          <p>We Certificate that:</p>
          <p class="certificate-user-name"><%= @enrollment.user.name %></p>
          <p>completed the course:</p>
          <h2 class="certificate-course-title"><%= @enrollment.course.title %></h2>
        </section>
        <section class="certificate-section">
          <p>Certification ID: <span><%= @enrollment.id %></span></p>
          <p>User: <span><%= @enrollment.user.name %></span></p>
          <p><span><%= @enrollment.user.name %></span></p>
          <p>Certificate url: <span><%= request.base_url %><%= request.original_fullpath %></span></p>
        </section>
      </main>
      <section class="signature-section">
        <p class="signature-text">Head Department Signature</p>
        <%= image_tag wicked_pdf_asset_base64( 'signature.jpg'), alt: "signature", class: "signature-image" %>
        <p class="signature-text">Date: <%= Date.today.strftime("%B %d, %Y") %></p>
      </section>
    </div>
  </body>
</html>
