<%= form_with(model: [ @course, @lesson ], class: "contents") do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <h3 class="text-base mt-10 mb-4">
      <%= form.label :content, "Content" %>
    </h3>
    <%= form.rich_text_area :content, rows: 8, class: "block shadow rounded-md border border-gray-200 outline-none px-3 pb-24 mt-2 w-full text-top" %>
  </div>


  <%# <div class="my-5"> %>
    <%# <%= form.label :course_id  %>

    <%# Option 1 and select combined %>
    <%# <%= form.select :course_id, Course.all.map {|c| [c.title, c.id]}, {}, as: :hidden,  class: "hidden shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %>

    <%# Option 2 %>
    <%= form.hidden_field :course_id, value: @course.id %>
  <%# </div> %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
