<section class="w-full border rounded-md py-2 px-2 grid <%= 'grid-cols-3' if policy(lesson).edit? %> <%= 'grid-cols-1' unless policy(lesson).edit? %> <%= 'bg-slate-200' if active %> xl:grid-cols-5 gap-y-2 gap-x-2" data-controller="modal-course">
  <% if active %>
    <p class=" xl:col-span-3 ">
      <% if lesson.viewed(current_user) %>
        <i class="fa-solid fa-check-square text-lime-500 mr-2"></i>
      <% else %>
        <i class="fa-regular fa-square text-lime-500 mr-2"></i>
      <% end %>
      <%= rank %>
      <%= lesson.title %>
    </p>

  <% else %>
    <%= link_to course_lesson_path(@course, lesson), class: "hover:underline xl:col-span-3" do %>
      <% if lesson.viewed(current_user) %>
        <i class="fa-solid fa-check-square text-lime-500 mr-2"></i>
      <% else %>
        <i class="fa-regular fa-square text-lime-500 mr-2"></i>
      <% end %>
      <%= rank %>
      <%= lesson.title %>
    <% end %>
  <% end %>
  <% if policy(lesson).edit? %>
    <%= link_to "Edit", edit_course_lesson_path(@course, lesson), class: " rounded-lg py-1 px-1 bg-gray-100 inline-block font-medium hover:bg-gray-300 self-center text-center text-sm" %>
    <%# <%= button_tag raw("#{icon("fa-solid fa-trash fa-xs", "font-solid")} Destroy"), type: "button", data: { %>
    <%= button_tag  "Destroy", type: "button", data: {
      action: 'click->modal-course#open',
      modal_url_value: course_lesson_path(@course, lesson)
    }, class: "rounded-lg py-1 px-1 bg-red-500 text-white font-medium hover:bg-red-600 self-center text-sm" %>
  <% end %>
  <div data-modal-course-target="modalCourse" id="modalCourse" class="fixed inset-0 flex hidden items-center justify-center">
    <%= render 'shared/course_confirmation_modal' %>
  </div>
</section>
