<% content_for(:title) do %>
  <%= @lesson.course.title.capitalize %> | Lesson: <%= @lesson.title %>
<% end %>
<div class="mx-auto md:w-full w-full grid grid-cols-1 sm:grid-cols-3 md:grid-cols-6 lg:grid-cols-4" data-controller="modal-course">
  <section class="md:ml-5 col-span-1 sm:col-span-2 md:col-span-4 lg:col-span-3">
    <%= render @lesson %>
    <div class="flex flex-wrap gap-x-2 gap-y-2">
      <% if policy(@lesson).edit? %>
        <%= link_to "Edit this lesson", edit_course_lesson_path(@course, @lesson), class: " rounded-lg py-2 px-2 bg-gray-100 inline-block font-medium hover:bg-gray-300" %>
        <%= button_tag raw("#{icon("fa-solid fa-trash fa-xs", "font-solid")} Destroy"), type: "button", data: {
        action: 'click->modal-course#open',
        modal_url_value: course_lesson_path(@course, @lesson)
      }, class: "rounded-lg py-2  px-2 bg-red-500 text-white font-medium hover:bg-red-600" %>
      <% end %>
    </div>
  </section>
  <section class="col-span-1 sm:col-span-1 md:col-span-2 lg:col-span-1 mt-10">
    <button class="inline-block w-full">
      <%= link_to raw("#{icon('fa-solid fa-arrow-left mr-2', 'font-solid')} Back to - #{@lesson.course.title}"), course_path(@lesson.course.id), class: "rounded-lg py-2 px-2 bg-gray-100 inline-block font-medium hover:bg-gray-300 w-full" %>
    </button>
    <% if purchased_course(current_user, @course) %>
      <p class="font-semibold text-base p-1 border rounded-md flex justify-center">Progress: <%= number_to_percentage(@course.progress(current_user), :precision => 0) %></p>
    <% end %>
    <% @lessons.each do |lesson| %>
      <% if lesson == @lesson %>
        <%= render "lessons/lesson_preview", lesson: lesson, active: true %>
      <% else %>
        <%= render "lessons/lesson_preview", lesson: lesson, active: false %>
      <% end %>
    <% end %>
  </section>
  <%# modal html %>
  <div data-modal-course-target="modalCourse" id="modalCourse" class="fixed inset-0 flex hidden items-center justify-center">
    <%= render 'shared/course_confirmation_modal' %>
  </div>
</div>
