<article id="<%= dom_id course %>" data-title="<%= course.title.downcase %>" data-search-target="courses" data-controller="modal-course" class="<%= "bg-slate-200" if course.id.even? %> rounded-lg border border-slate-400 p-4">
  <h2 class="font-bold text-xl mb-2">
    <%= course.title %>
  </h2>
  <p class="text-gray-700 mb-4"><%= course.description %></p>
  <p class="text-gray-700 mb-4"><%= course.short_description %></p>
  <p class="text-gray-700 mb-4">Language: <%= course.language %></p>
  <p class="text-gray-700 mb-4">Level: <%= course.level %></p>
  <p class="text-gray-700 mb-4">Price: $ <%= course.price %></p>
  <p class="text-gray-700 mb-4">Lessons:  <%= course.lessons.count %></p>

  <section class="text-sm text-gray-600 mb-4">
    User: <%= course.user %>
  </section>


  <section class="flex flex-wrap">

    <%# <%= button_to "Enroll", new_course_enrollment_path(course), class: "rounded-lg py-1 mb-2 px-3 bg-teal-200 font-medium mr-2 hover:bg-teal-300"  %>
    <%= enrollment_button(course) %>

    <%= link_to "Show", course_path(course), class: "rounded-lg py-1 mb-2 px-3 bg-gray-100 font-medium mr-2 hover:bg-gray-300" %>
    <%= link_to raw("#{icon("fa-solid fa-pencil fa-xs", "font-solid")} Edit"), edit_course_path(course), data: { turbo_frame: "edit-modal" }, class: "rounded-lg py-1 mb-2 px-3 bg-gray-100 font-medium hover:bg-gray-300" %>
    <!-- <%= button_to raw("#{icon("fa-solid fa-trash fa-xs", "font-solid")} Destroy"), course_path(course.id), method: :delete, class: "rounded-lg py-1 mb-2 px-3 ml-3 bg-red-600 text-white font-medium hover:bg-red-700" %> -->
    <%= button_tag raw("#{icon("fa-solid fa-trash fa-xs", "font-solid")} Destroy"), type: "button", data: {
      action: 'click->modal-course#open',
      modal_url_value: course_path(course)
    }, class: "rounded-lg py-1 mb-2 px-3 ml-3 bg-red-500 text-white font-medium hover:bg-red-700" %>

    <!-- modal -->

    <div data-modal-course-target="modalCourse" id="modalCourse" class="fixed inset-0 flex hidden items-center justify-center">

      <%= render 'shared/course_confirmation_modal' %>
    </div>
  </section>

</article>
