<div class="mx-auto md:w-full w-full flex text-left">
  <div class="ml-10">
    <!-- <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %> -->
    <%= link_to "/Courses", courses_path, class: "text-blue-500 hover:underline"  %>
    <span class="text-blue-500">/<%= @course.title %></span>
    <h2 class="text-xl font-bold mt-10">Course Details</h2>
    <br>
    <h2 class="text-xl"><strong>Title:</strong> <%= @course.title %> </h2>
    <br>
    <p><strong>Description:</strong> <%= @course.description %> </p>
    <br>
    <p><strong>Short description:</strong> <%= @course.short_description %> </p>
    <br>
    <p><strong>Language:</strong> <%= @course.language %> </p>
    <br>
    <p><strong>Level:</strong> <%= @course.level %> </p>
    <br>
    <p><strong>Price:</strong> $ <%= @course.price %> </p>
    <br>
    <p class="mb-4 font-bold">Lessons:</p>
    <ul>
      <% @course.lessons.map do |c| %>
        <li class="list-disc ml-4">
          <%= link_to "#{c.title}", course_lesson_path(@course, c), class: "font-bold hover:underline" %>
        </li>
      <% end %>
    </ul>
    <br>
    <div class="mb-1">
      <% if current_user.id == @course.user.id %>
        <%= link_to "Add new lesson", new_course_lesson_path(@course), class: "mt-2 rounded-lg py-3 px-5 bg-blue-300 inline-block font-medium hover:bg-blue-400"  %>
      <% end %>
    </div>
    <%= link_to raw("#{icon('fa-solid fa-arrow-left', 'font-solid')} Back to courses"), courses_path, class: " my-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:bg-gray-300" %>
    <%= link_to raw("#{icon('fa-solid fa-pencil', 'font-solid')} Edit course"), edit_course_path(@course), data: { turbo_frame: "edit-modal" }, class: "sm:ml-1 md:ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:bg-gray-300" %>
    <div class="inline-block ml-2">
      <%= button_to raw("#{icon('fa-solid fa-trash', 'font-solid')} Destroy this course"), course_path(@course), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-100 font-medium hover:bg-red-300" %>
    </div>
  </div>
</div>
