<nav class="bg-blue-900 border-gray-200 dark:bg-gray-900" data-controller="header">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-2 px-4 mx-auto text-sm lg:text-base">
    <%= link_to raw("#{icon('fa-solid fa-gem fa-xl', 'font-solid')} Rails Udemy"), root_path , class: " items-center space-x-3 rtl:space-x-reverse text-gray-100 hover:text-white gap-x-2 text-xl font-semibold bg-blue-900 py-2" %>
    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center justify-center w-10 h-10 px-1 my-2 text-sm text-gray-200 rounded-lg md:hidden hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <section class="hidden w-full bg-blue-900 md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 font-medium bg-blue-900 border border-gray-100 rounded-lg md:items-center md:py-2 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <% unless current_user %>
            <%= link_to raw("#{icon('fa-solid fa-graduation-cap', 'font-solid')} Courses"), root_path,
                class: "#{ 'font-bold underline' if current_page?(courses_path) } block py-2 px-3 text-gray-200 rounded hover:bg-white md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" %>
          <% else %>
            <%= link_to raw("#{icon('fa-solid fa-graduation-cap', 'font-solid')} Courses"), courses_path,
                class: "#{ 'font-bold underline underline-offset-2' if current_page?(courses_path) } block py-2 text-gray-100 rounded hover:bg-white md:hover:bg-transparent md:border-0 hover:text-white md:p-0 " %>
          <% end %>
        </li>
        <% if !current_user %>
          <li>
            <%= link_to "Log in", new_user_session_path,
                class: "#{ 'font-bold' if current_page?(courses_path) } block py-2 px-3 text-gray-100 rounded hover:bg-gray-200 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0 " %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path,
                class: "#{ 'font-bold' if current_page?(courses_path) } block py-2 px-3 text-gray-100 rounded hover:bg-gray-200 hover:text-white md:hover:bg-transparent md:border-0 md:p-0 " %>
          </li>
        <% end %>
        <% if current_user %>
          <li>
            <span
              class="block px-3 py-2 text-gray-100 rounded hover:bg-gray-200 md:hover:bg-transparent md:border-0 hover:text-white md:p-0 ">
              <%= link_to "Account #{current_user.email}" , edit_user_registration_path %>
            </span>
          </li>
          <% if current_user.has_role? :student %>
            <li class="relative">
              <button data-action="click->header#toggleStudent" class="block px-3 py-2 text-gray-100 rounded md:p-0 dark:text-white hover:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white">
                Learn <i class="fas fa-chevron-down"></i>
              </button>
              <ul data-header-target="studentMenu" class="hidden pt-4 text-gray-700 md:absolute w-36 -left-6 ">
                <li>
                  <%= link_to raw("#{icon('fa-solid fa-book w-8', 'font-solid pl-2 my-2 ')} My courses"), purchased_courses_path, class: "#{'font-bold' if current_page?(purchased_courses_path)} block py-2 px-3 rounded text-gray-700 bg-gray-200 hover:bg-gray-300 md:border-0 md:p-0 " %>
                </li>
              </ul>
            </li>
          <% end %>
          <% if current_user.has_role? :teacher %>
            <li class="relative">
              <button data-action="click->header#toggleTeacher" class="block px-3 py-2 text-gray-100 rounded md:p-0 dark:text-white hover:bg-gray-200 md:hover:bg-transparent hover:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white">
                Teacher <i class="fas fa-chevron-down"></i>
              </button>
              <ul data-header-target="teacherMenu" class="hidden pt-4 text-gray-700 md:absolute w-36 -left-6">
                <li>
                  <%= link_to raw("#{icon('fa-solid fa-plus w-8', 'font-solid pl-2 my-2 ')} New course"), new_course_path, class: "#{'font-bold' if current_page?(new_course_path)} block py-2 px-3 text-gray-700 bg-gray-200 hover:bg-gray-300 rounded bg-gray-200 md:border-0 md:p-0 " %>
                </li>
                <li>
                  <%= link_to raw("#{icon('fa-solid fa-book w-8', 'font-solid pl-2 my-2 pr-1')} My courses"), created_courses_path, class: "#{'font-bold' if current_page?(created_courses_path)} block py-2 px-3 rounded md:border-0 text-gray-700 bg-gray-200 hover:bg-gray-300 md:p-0 " %>
                </li>
                <li>
                  <%= link_to raw("#{icon('fa-solid fa-users w-8', 'font-solid pl-2 my-2 pr-1')} My students"), my_students_enrollments_path, class: "#{'font-bold' if current_page?(my_students_enrollments_path)} block py-2 px-3 text-gray-700 rounded bg-gray-200 md:border-0 hover:bg-gray-300 md:p-0 " %>
                </li>
              </ul>
            </li>
          <% end %>
          <% if current_user.has_role? :admin %>
            <li class="relative">
              <button data-action="click->header#toggle" class="block px-3 py-2 text-gray-100 rounded md:p-0 dark:text-white hover:bg-gray-200 md:hover:bg-transparent hover:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white">
                Admin <i class="fas fa-chevron-down"></i>
              </button>
              <ul data-header-target="menu" class="hidden w-40 pt-4 text-left text-gray-700 md:absolute -left-6">
                <li>
                  <%= link_to unapproved_courses_path, class: "#{'font-bold' if current_page?(unapproved_courses_path)} block py-2 px-3 text-gray-700 rounded bg-gray-200 md:border-0 hover:bg-gray-300 md:p-0  flex" do %>
                    <i class="w-8 pl-2 my-2 mr-2 fa-brands fa-leanpub font-solid"></i>
                    Unapproved Courses
                    <span class="flex items-center justify-center w-8 h-8 p-1 m-1 rounded-sm bg-amber-300">
                      <%= Course.unapproved.count %>
                    </span>
                  <% end %>
                </li>
                <li>
                  <%= link_to raw("#{icon('fa-solid fa-users w-8', 'font-solid pl-2 my-2')} Users"), users_path, class: "#{'font-bold' if current_page?(users_path)} block py-2 px-3 text-gray-700 rounded bg-gray-200 md:border-0 hover:bg-gray-300 md:p-0 " %>
                </li>
                <li>
                  <%= link_to raw("#{icon('fa-solid fa-lock-open w-8', 'font-solid pl-2 my-2')} Enrollments"), enrollments_path, class: "#{'font-bold' if current_page?(enrollments_path)} block py-2 px-3 text-gray-700 rounded bg-gray-200 md:border-0 hover:bg-gray-300 md:p-0 " %>
                </li>
              </ul>
            </li>
          <% end %>
          <li>
            <span
            class="block px-3 py-2 text-gray-100 rounded hover:bg-gray-200 md:hover:bg-transparent md:border-0 hover:text-white md:p-0 text-bold">
              <%= form_with url: destroy_user_session_path, method: :delete do %>
                <%= submit_tag 'Log out', class: "hover:cursor-pointer" %>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
