<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : "Udemy Rails App" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Alejandro Toledo">
    <meta name="keywords" content="online education, course platform, video tutorials, udemy clone">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag 'ruby-icon.svg' %>
  </head>

  <%= render "layouts/header" %>
  <%= render "layouts/messages" %>
  <body class="flex flex-col justify-between w-full h-screen bg-gray-100 justify-items-stretch">
    <main class="px-4 mx-auto mt-6 justify-self-start ">
      <%= yield %>
      <%= turbo_frame_tag "modal" %>
      <%= turbo_frame_tag "edit-modal" %>
    </main>
  <%= render "layouts/footer", class: "justify-items-end" %>
  </body>

</html>
